<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Game: <%=game._id%></title>
    <link rel="stylesheet" href="../stylesheets/room.css">
  </head>
  <body>
    <% include partials/bootstrap %>
    <% include partials/flash-messages %>
    <div class="error-container" id="owner">
      <h1>You made the questions, wouldn't be fair...</h1>
    </div>

    <div class="lobby-container" id="lobby-page">
      <h1><%=game.creator.username%>'s Game</h1>
      <h3>Category: <small><%=game.category%></small></h3>
      <h3>Current Users Joined</h3>
      <ul id="current-players">
      </ul>
      <br>
      <p>Max Players: <%=game.players%></p>
      <p id="waiting-for"></p>
      <div class="text-center" id="start-game">
      </div>
      <br>
      <div class="text-center">
        <button class="btn-danger" id="leave" type="button" name="leave">Leave</button>
        <br>
        <br>
        <p id="starting"></p>
      </div>
    </div>

    <div class="container-fluid question-container" id="question-page">
      <div class="question-div">
        <h2 id="question-text" class="question-text"><%=game.questions[0].text%></h2>
        <hr />
      </div>
      <div class="base-timer middle-div col-6">
        <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
          <g class="base-timer__circle">
            <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45" />
          </g>
        </svg>
        <span id="base-timer-label" class="base-timer__label">
          <%=game.timeperq%>
        </span>
      </div>
      <div class="answers-div" id="options">
        <div class="row">
          <button id="optiona" class="col btn btn-light btn-outline-secondary"><%=game.questions[0].options[0]%></button>
          <div class="col"></div>
          <button id="optionb" class="col btn btn-light btn-outline-secondary"><%=game.questions[0].options[1]%></button>
        </div>
        <div class="row">
          <button id="optionc" class="col btn btn-light btn-outline-secondary"><%=game.questions[0].options[2]%></button>
          <div class="col"></div>
          <button id="optiond" class="col btn btn-light btn-outline-secondary"><%=game.questions[0].options[3]%></button>
        </div>
      </div>
      <button id="leave-game" class="btn btn-secondary" type="button" name="button">Leave</button>
    </div>
    <br>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var gameID='<%=game._id%>';
      var timeperq= '<%=game.timeperq%>';
      var started= '<%=game.started%>';
      var currentPlayer='<%=currentUser._id%>';
      var gameCreator='<%=game.creator._id%>';
      var playerUsername='<%=currentUser.username%>'
    </script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
  </body>
</html>
